h1{
  margin:10px;
  font-size:50px;
  color: cadetblue;
}
.menu{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px 0px lightgray;
}
.menu>a{
 
  display: inline-block;
    width: 50%;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    font-weight: bold;
}
.menu>a:hover{
  background: white;
  border-bottom: 3px solid cadetblue;
  color: cadetblue;
  transform: scale(1.1);
  transition: 0.3s all
}
